@import "~bootswatch/dist/journal/variables";

.meal-amount {
  border-width: 0 0 0 2px;
  width: 2.2rem;
  height: 2rem;
  background-color: transparentize($success, 0.7);
  font-weight: bold;
  font-style: normal;
  font-family: Aldrich, sans-serif;
}

.menu-category-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  border-bottom-width: 2px;
  border-bottom-color: $danger;
  border-bottom-style: solid;
}

.meal-name-container {
  border-top-width: 1px;
  border-top-color: gray;
  border-top-style: dashed;
}

.menu-item-container {
  margin-bottom: 1rem;
}

.menu-item {
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.menu-item img {
  max-height: 300px;
  max-width: 300px;
  width: auto;
  padding: 1rem;
  margin-bottom: 2rem;
}

.menu-item .price-container {
  background-color: unset;
  font-size: 1.2rem;
  padding-right: 0;
  padding-left: 0;
}
