@import "~bootswatch/dist/journal/variables";

.navbar-main .navbar-brand {
  color: $warning;
  font-weight: bold;
  margin-right: 12px;
}

.navbar-main .navbar-brand:hover {
  color: $white;
}

.navbar-main.navbar-tiny {
  background-color: $primary;
  padding-top: .1rem;
  padding-bottom: .1rem;
  font-size: 1rem;
  transition: 0.2s;
}

.navbar-main.navbar-transporent {
  background-color: transparentize($primary, 0.65);
}

.navbar-main {
  background-color: #d14414;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-radius: 0;
  box-shadow: none;
  border: none;
  font-size: 1.4rem;
  z-index: 2;
}

.navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: .5rem;
}

.navbar-main {
  top: 0;
  position: sticky;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 0.4s;
}

@media (min-width: 768px) {
  .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }

  .navbar-nav .nav-link {
    padding-left: .7rem;
    padding-right: .7rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.navbar-toggler:hover, .navbar-toggler:focus {
  background: none;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: $yellow;
  background-color: transparent;
}

.navbar-main .dropdown-menu .dropdown-item:focus, .navbar-main .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navbar-main .dropdown-menu .dropdown-item:focus, .navbar-main .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}
