@import "~bootswatch/dist/journal/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/journal/bootswatch";

body {
  font-family: 'Comic Sans MS', sans-serif;
}

#sidebar-cart {
  background-color: transparentize($yellow, 0.4);
  width: 30%;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  overflow-x: hidden;
  overflow-y: hidden;
}

#counter {
  width: 3em;
  text-align: center;
  border-width: 0 0 0 $border-width;
  border-color: $border-color;
}

#cart-toggle-ico-but {
  border: none;
  background-color: transparent;
  align-items: flex-end;
}

#cart-toggle-ico-but svg {
  font-size: 3em;
  background-color: $green;
  padding: 8px;
  border-radius: 15px;
}

#cart-toggle-ico-but svg:hover {
  background-color: darken($green, 10);
}

#add-icon-but {
  background-color: transparent;
  border: none;
  padding: unset;
}

#add-icon-but svg {
  font-size: 1.8em;
  background-color: $yellow;
  padding: 1px;
  border-radius: 5px;
}

#add-icon-but svg:hover {
  background-color: darken($yellow, 10)
}

